ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJTMjU2LWN1cnJlbnQifQ.eyJpc3MiOiJzbW9rZS5zdGFmZnIubmV0IiwiYXVkIjpbInNtb2tlLnN0YWZmci5uZXQiXSwiaWF0IjoxNzM4MjYzMjI4LCJzdWIiOiIzNTU3IiwiZXhwIjoxNzM4MzQ5NjI4LCJncmFudCI6IkFDQ0VTU19UT0tFTiJ9.oaBvZDdXASTMAB90ku2H_UX5RqjAhQ90S_CE8zI3uGNboScMOTPxuPkMeS80JzaXMFBLfHO025elOJGc4eknbIXjGTG3hj6j9yCk4wHAo4i1ybtoHls-i96a58oDZoHguOzCBzG1K4UR3RlYVDzRWQpSXc6LDDncNptIMpCEqj8eOnVa0Wb8DAZCLNLfT_hWu6N6Fd4KriWzQ9Jd8Br9d4NFNH4MNroXRI3R2FCFE1zAPkLWu0Uv9W1z83Wsy_iB74JHCp_Jc8WeIZqPUt2pJBuTKzh1wXBDRqMY8fqO_AdpnEIkjdHOSGLd8kA-VyjSINmhJA2b32qS0bn1nVIKRvtt9SI9-ErmtoZ0zTVu3l-SjyCjHPJGzpIImh4N3HC1nLE7J399FFF02TPX-rcDxeaTOrFd98efNGN1VxradPeVgrzUsai301pFRqIzXgdJXD6NMXYOCslvGsdITG7zNV1OxLofY9yXpFxXs0akCITGs29-p4g9Kl--ESDVp4MnXRAbBjK8WwCkq7b9tOeZK-wNJVLxfHlPbdCYzxYHXOT_c8tuVyYbHKDGmOu_Z5oHR1ytzUOQu-bY2OnCk-JO3nmhznM_MvEM9OT9-yam_HtJwd1QTnSZ47innZeawv6xoi8S8GnjMo067qd4H7C9xorYpJIu-dC62EXPEzTL4Qk
API_URL=https://smoke.staffr.net/rest/v1/employees